.navbar-container{
    width: 80%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding-bottom: 10px;
}

.logo{
    width: 150px;
    height: 100%;
    object-fit: contain;
    margin-right: 80px;
}

.nav-items-container{
    list-style: none;
    display: flex;
    width: 400px;
    
}

.nav-items-container li {
    margin: 0;                   /* Reset default <ul> margins */
    padding: 0;
    margin-right: 35px;          /* Space between list items - adjust as needed */
}

.nav-items-container li:last-child {
    margin-right: 0;             /* No margin for the last item */
}

.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: auto;  /* Push the cart container to the right */

}

.img-avatar{
    width: 50px;
}

